<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <div class="container mt-4">
      <h2><%= blog.title %></h2>
      <img src="<%= blog.coverImageURL %>" width="400px" />
      <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-4">
      <img src="<%= blog.createdBy.profileImageURL %>" width="50px" /> <%=
      blog.createdBy.fullName %>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
